{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="category-page">
        <div class="uk-container">
            <div class="uk-grid uk-grid-small card-block" uk-grid="">
                <div class="uk-width-1-5@m left-side">
                    <div>
                        <div class="uk-card uk-card-default uk-text-left">
                            <ul>
                                {% for sub in subject %}
                                <li class=""><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand right-side">
                    <div class="uk-grid uk-grid-small uk-child-width-1-3@m" uk-grid="">
                        {% if categories %}
                        <div class="uk-width-1-1">
                            <h2 class="uk-text-center"><b>Слова</b></h2>
                        </div>
                        {% endif %}
                        {% for category in categories %}
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large">
                                <a class="uk-position-cover" href="{% url 'themes' category.id %}"></a><span
                                    class="uk-position-small uk-position-top-center">этап 1</span>
                                <h3 class="uk-card-title">{{ category.name }}</h3>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="uk-width-1-1 line uk-margin-medium"><!-- разделитель этапов -->
                            <hr class="uk-divider-icon">
                        </div>
                        <div class="uk-width-1-1">
                            <h2 class="uk-text-center"><b>Словосочетания</b></h2>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large"
                                 uk-tooltip="Этот Этам закрыт, пройдите все этапы 1">
                                <div class="uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <span class="uk-icon" uk-icon="icon: lock; ratio: 2"></span></div>
                                <a class="uk-position-cover" href=""></a><span
                                    class="uk-position-small uk-position-top-center">этап 2</span>
                                <h3 class="uk-card-title">СЛОВОСОЧЕТАНИЯ</h3>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large"
                                 uk-tooltip="Этот Этам закрыт, пройдите все этапы 1">
                                <div class="uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <span class="uk-icon" uk-icon="icon: lock; ratio: 2"></span></div>
                                <a class="uk-position-cover" href=""></a><span
                                    class="uk-position-small uk-position-top-center">этап 2</span>
                                <h3 class="uk-card-title">ПРЕДЛОЖЕНИЯ</h3>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large"
                                 uk-tooltip="Этот Этам закрыт, пройдите все этапы 1">
                                <div class="uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <span class="uk-icon" uk-icon="icon: lock; ratio: 2"></span></div>
                                <a class="uk-position-cover" href=""></a><span
                                    class="uk-position-small uk-position-top-center">этап 2</span>
                                <h3 class="uk-card-title">ПРЕДЛОГИ</h3>
                            </div>
                        </div>
                        <div class="uk-width-1-1 line uk-margin-medium"><!-- разделитель этапов -->
                            <hr class="uk-divider-icon">
                        </div>
                        <div class="uk-width-1-1">
                            <h2 class="uk-text-center"><b>Предложения</b></h2>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large"
                                 uk-tooltip="Этот Этам закрыт, пройдите все этапы 1">
                                <div class="uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <span class="uk-icon" uk-icon="icon: lock; ratio: 2"></span></div>
                                <a class="uk-position-cover" href=""></a><span
                                    class="uk-position-small uk-position-top-center">этап 3</span>
                                <h3 class="uk-card-title">СЛОВОСОЧЕТАНИЯ</h3>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large"
                                 uk-tooltip="Этот Этам закрыт, пройдите все этапы 1">
                                <div class="uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <span class="uk-icon" uk-icon="icon: lock; ratio: 2"></span></div>
                                <a class="uk-position-cover" href=""></a><span
                                    class="uk-position-small uk-position-top-center">этап 3</span>
                                <h3 class="uk-card-title">ПРЕДЛОЖЕНИЯ</h3>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large"
                                 uk-tooltip="Этот Этам закрыт, пройдите все этапы 1">
                                <div class="uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <span class="uk-icon" uk-icon="icon: lock; ratio: 2"></span></div>
                                <a class="uk-position-cover" href=""></a><span
                                    class="uk-position-small uk-position-top-center">этап 3</span>
                                <h3 class="uk-card-title">ПРЕДЛОГИ</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}