{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="category-page">
    <div class="uk-container">
        <div class="uk-grid uk-grid-small card-block" uk-grid="">
            <div class="uk-width-1-5@m left-side">
                <div>
                    <div class="uk-card uk-card-default uk-text-left">
                        <ul>
                            {% for sub in subject %}
                            <li class=""><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}