{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="faq-page">
      <div class="uk-container">
        <ul uk-accordion="" class="uk-card uk-card-default" style="padding: 20px">
            {% for f in faqs %}
          <li><a class="uk-accordion-title" href="#">{{ f.question }}</a>
            <div class="uk-accordion-content">
              <p>{{ f.answer }}</p>
            </div>
          </li>
            {% endfor %}
        </ul>
      </div>
    </section>
{% endblock %}
