{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="theme-page">
      <div class="uk-container">
        <div class="uk-grid uk-grid-small card-block" uk-grid="">
          <div class="uk-width-1-5@m left-side">
            <div>
              <div class="uk-card uk-card-default uk-text-left">
                <ul>
                    {% for sub in subjects %}
                  <li><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="uk-width-expand right-side">
            <h1>{{ theme.name }}<span class="uk-float-right"></span></h1>
            <div class="uk-card uk-card-default uk-text-center lesson-block"><img src="img/png/1.png" alt="">
              <div class="word finish">ВЫ ПРОШЛИ КАТЕГОРИЮ "{{ theme.name }}"
                <p>Возвращайтесь через 03:00:00 часа</p>
              </div>
              <div class="uk-text-center"><a class="uk-button uk-button-default home" href="{% url 'index' %}">НА ГЛАВНУЮ</a><a class="uk-button uk-button-default profile" href="{% url 'profile'  %}">МОЙ ПРОФИЛЬ</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
