{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="home-page">
        <div class="uk-position-relative uk-visible-toggle uk-light"
             uk-slideshow="animation: scale; min-height: 300; max-height: 500;autoplay: true;autoplay-interval:5000">
            <ul class="uk-slideshow-items">
                {% for slide in sliders %}
                    <li>
                        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right">
                            <img src="{{ slide.image.url }}" alt="" uk-cover=""></div>
                        <div class="uk-position-center-right uk-position-medium text uk-text-center uk-text-left@m">
                            <h3 class="uk-margin">{{ slide.title }}</h3><a class="url uk-button uk-button-default"
                                                                           href="{% url 'categories' %}">НАЧАТЬ
                            ОБУЧЕНИЕ</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous=""
               uk-slideshow-item="previous"></a><a class="uk-position-center-right uk-position-small uk-hidden-hover"
                                                   href="#" uk-slidenav-next="" uk-slideshow-item="next"></a>
        </div>
        <div class="uk-container">
            <div class="uk-grid uk-grid-match uk-grid-small card-block uk-child-width-1-3@m" uk-grid="">
                {% for header in headers %}
                    <div>
                        <div class="uk-card index-card uk-card-default uk-card-body uk-text-center uk-box-shadow-hover-large">
                            <div class="uk-border-circle uk-overflow-hidden uk-position-absolute"><img
                                    src="{{ header.image.url }}" alt=""></div>
                            <h3 class="uk-card-title">{{ header.title }}</h3>
                            <p>{{ header.body }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="uk-text-center"><a class="url uk-button uk-button-default" href="{% url 'categories' %}">НАЧАТЬ
                ОБУЧЕНИЕ</a></div>
        </div>
    </section>
{% endblock %}