{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="theme-page">
        <div class="uk-container">
            <div class="uk-grid uk-grid-small card-block" uk-grid="">
                <div class="uk-width-1-5@m left-side">
                    <div>
                        <div class="uk-card uk-card-default uk-text-left">
                            <ul>
                                {% for sub in subjects %}
                                    <li><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand right-side">
                    <h2>{{ theme.name }}<span class="uk-float-right"></span></h2>
                    <div class="uk-card uk-card-default uk-text-left lesson-block">
                        <div class="word">{{ theme_data.data.name }}</div>

                        <audio class="uk-hidden" controls autoplay id="audio1">
                            <source src="{{ theme_data.data.audio.url }}" type="audio/mpeg">
                        </audio>
                        <div class="uk-position-small controll uk-position-bottom-center"><a
                                href="{% url 'next_data' theme.id theme_data.id %}" id="next_page"><img
                                src="{% static 'img/png/Group 9.png' %}" alt=""></a><a class="pause"><img
                                src="{% static 'img/png/11.png' %}" alt=""></a><a
                                class="play"><img src="{% static 'img/png/12.png' %}" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script>
      $(document).ready(function () {
    $(".play").click(function() {
        audio1.play();
    });

    $(".pause").click(function() {
        audio1.pause();
    });

    var NextPage = document.getElementById('next_page')
    document.getElementById('audio1').addEventListener('ended',myHandler,false);
    function myHandler() {
        setTimeout(function(){
        NextPage.click();
        }, 3000);
    }

}); // end document.ready
    </script>
{% endblock %}