{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="theme-page">
        <div class="uk-container">
            <div class="uk-grid uk-grid-small card-block" uk-grid="">
                <div class="uk-width-1-5@m left-side">
                    <div>
                        <div class="uk-card uk-card-default uk-text-left">
                            <ul>
                                {% for sub in subjects %}
                                <li><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand right-side">
                    <h2>{{ theme.name }}<span class="uk-float-right"></span></h2>
                    <div class="uk-card uk-card-default uk-text-left lesson-block" style="padding: 70px 0 !important;">
                        <div class="word finish">Готовы начать урок?</div>
                        <div class="uk-text-center"><a class="url uk-button uk-button-default" href="{% url 'pre-lesson-runner' theme.id %}">НАЧАТЬ
                            ОБУЧЕНИЕ</a>
                        </div>
                        <audio class="uk-hidden" controls autoplay id="audio1">
                            <source src="voice/vo1.mp3" type="audio/mpeg">
                        </audio>
                        {#                    <div class="uk-position-small controll uk-position-bottom-center"><a href=""><img#}
                        {#                            src="img/png/Group 9.png" alt=""></a><a href="index.html" id="next_page"><img#}
                        {#                            src="img/png/Group 10.png" alt=""></a><a class="pause"><img src="img/png/11.png" alt=""></a><a#}
                        {#                            class="play"><img src="img/png/12.png" alt=""></a></div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}