{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="theme-page">
        <div class="uk-container">
            <div class="card-block profile-page">
                <div class="uk-card uk-card-default uk-padding">
                    <div class="uk-border-circle uk-overflow-hidden uk-position-relative"><img
                            src="{% static 'img/png/download.png' %}" alt="" uk-cover=""></div>
                    <h3 class="uk-margin-remove uk-text-center">{{ user.get_username }}</h3>
                    {% for sub in subjects %}
                        <h2>{{ sub.name }}</h2>
                        {% for category in sub.category.all %}
                    <div class="uk-margin">
                        <h4>{{ category.name }}</h4>
                        <div class="myProgress uk-text-center">
                            <div class="myBar" style=" width: 0%"></div>
                            <span>0%</span>
                        </div>
                    </div>
                            {% endfor %}
                    {% endfor %}
{#                    <div class="uk-margin">#}
{#                        <h4>Чтение Этап 2</h4>#}
{#                        <div class="myProgress uk-text-center">#}
{#                            <div class="myBar" style=" width: 10%"></div>#}
{#                            <span>10%</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="uk-margin">#}
{#                        <h4>Чтение Этап 2</h4>#}
{#                        <div class="myProgress uk-text-center">#}
{#                            <div class="myBar" style=" width: 50%"></div>#}
{#                            <span>50%</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="uk-margin-medium">#}
{#                        <hr class="uk-divider-icon">#}
{#                    </div>#}
{#                    <div class="uk-margin">#}
{#                        <h4>Математика Этап 1</h4>#}
{#                        <div class="myProgress uk-text-center">#}
{#                            <div class="myBar" style=" width: 30%"></div>#}
{#                            <span>30%</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="uk-margin">#}
{#                        <h4>Математика Этап 2</h4>#}
{#                        <div class="myProgress uk-text-center">#}
{#                            <div class="myBar" style=" width: 15%"></div>#}
{#                            <span>15%</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="uk-margin">#}
{#                        <h4>Математика Этап 2</h4>#}
{#                        <div class="myProgress uk-text-center">#}
{#                            <div class="myBar" style=" width: 5%"></div>#}
{#                            <span>5%</span>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}