{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="login">
        <div class="uk-container">
            <div class="uk-grid uk-grid-match card-block uk-child-width-1-2@m" uk-grid>

                <div class="">
                    <div class="uk-card uk-padding uk-card-default">
                        <h2 class="uk-modal-title">Регистрация</h2>
                        <form method="post">
                            {% csrf_token %}
                            <fieldset class="uk-fieldset">
                                <div class="uk-margin">
                                    {{ form.as_p }}
                                </div>
                                <div class="uk-margin">
                                    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                                    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                                    <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
                                </div>
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-default" value="" type="submit">
                                        ЗАРЕГИСТРИРОВАТЬСЯ
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </section>



{% endblock %}