{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="theme-page">
        <div class="uk-container">
            <div class="uk-grid uk-grid-small card-block" uk-grid="">
                <div class="uk-width-1-5@m left-side">
                    <div>
                        <div class="uk-card uk-card-default uk-text-left">
                            <ul>
                                {% for sub in subjects %}
                                    <li class=""><a href="{% url 'category' sub.id %}">{{ sub.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand right-side">
                    <h2 class="uk-text-center"><b>{{ category.name }}</b></h2>
                    <div class="uk-grid uk-grid-small uk-child-width-1-3@m" uk-grid="">
                        {% for theme in themes %}
                            <div>
                                <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large">
                                    <a class="uk-position-cover" href="{% url 'pre-lesson' theme.id %}"></a><span
                                        class="uk-position-small uk-position-top-center">этап 1</span>
                                    <div class="uk-position-small uk-position-bottom-right"><i
                                            class="zmdi zmdi-star"></i><i
                                            class="zmdi zmdi-star"></i><i class="zmdi zmdi-star"></i></div>
                                    <h3 class="uk-card-title">{{ theme.name }}</h3>
                                </div>
                            </div>
                        {% endfor %}
                        {#                    <div>#}
                        {#                        <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large">#}
                        {#                            <a class="uk-position-cover" href=""></a><span#}
                        {#                                class="uk-position-small uk-position-top-center">этап 1</span>#}
                        {#                            <div class="uk-position-small uk-position-bottom-right"><i class="zmdi zmdi-star"></i><i#}
                        {#                                    class="zmdi zmdi-star"></i></div>#}
                        {#                            <h3 class="uk-card-title">ПРИРОДА</h3>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                    <div>#}
                        {#                        <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large">#}
                        {#                            <a class="uk-position-cover" href=""></a><span#}
                        {#                                class="uk-position-small uk-position-top-center">этап 1</span>#}
                        {#                            <h3 class="uk-card-title">ЛЮДИ</h3>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                    <div>#}
                        {#                        <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large">#}
                        {#                            <a class="uk-position-cover" href=""></a><span#}
                        {#                                class="uk-position-small uk-position-top-center">этап 1</span>#}
                        {#                            <h3 class="uk-card-title">ЖИВОТНЫЕ</h3>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                    <div>#}
                        {#                        <div class="uk-card uk-card-default uk-card-body uk-text-center uk-position-relative uk-box-shadow-hover-large">#}
                        {#                            <a class="uk-position-cover" href=""></a><span#}
                        {#                                class="uk-position-small uk-position-top-center">этап 1</span>#}
                        {#                            <h3 class="uk-card-title">МЕСТОИМЕНИЯ</h3>#}
                        {#                        </div>#}
                        {#                    </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}